@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
}

/* Main container to structure the page */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes the full page height */
}

/* The top 75% is covered by an image */
.app-background {
  background-image: url('./assets/images/beach.jpg');
  background-position: center center;
  background-size: cover;
  height: 75vh; 
  background-attachment: fixed;
}

/* Remaining part of the page */
.page-content {
  background-color: whitesmoke;
  flex-grow: 1; /* Takes remaining height */
  width: 100%;
}

/* Footer sticks to the bottom */
.footer {
  background-color: #333; /* Change as needed */
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  margin-top: 30px; /* Push footer to bottom */
}
